{% extends "_base.html" %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}
    Home Index
    <div class="card" style="width: 18rem;">
        <div class="card-header">
          Posts
        </div>
        {% for post in posts %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{{post.get_absolute_url}}">{{post.title|truncatewords:8}}</a>
                <p>updated at {{post.datetime_modified|date:"Y-M"}}</p>
            </li>
        </ul>
          {% endfor %}
    </div>
{% endblock content %}