{% extends "_base.html" %}

{% block page_title %}{{post.title}}{% endblock page_title %}


{% block content %}
<div class="card" style="width: 20rem; heigth: 20rem;">
    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Donald_Trump_official_portrait.jpg/330px-Donald_Trump_official_portrait.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.body}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">author: 
        <a href="{% url 'account:user_profile' post.user.id %}">{{post.user.username}}</a>
      </li>
    </ul>
    {% if post.user == user %}
      <div class="card-body">
        <a href="#" class="card-link">Edit</a>
        <a href="{% url "home:post_delete" post.id %}" class="card-link">Delete</a>
      </div>
    {% endif %}
</div>
{% endblock content %}