{% extends "_base.html" %}

{% block page_title %}Profile{% endblock page_title %}

{% block content %}
    <h2 class="text-center">{{user_p.username}}</h2>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
          Your Posts
        </div>
        {% for post in posts %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{{post.get_absolute_url}}">{{post.title|truncatewords:8}}</a>
                    <p>created at {{post.datetime_created|date:"Y-M"}}</p>
                </li>
            </ul>
        {% empty %}
            <p>No post</p>
        {% endfor %}
        {% if request.user.id == user_p.id %}
            <div class="card-header">
                <a href="{% url "home:post_create" %}">Add a post</a>
            </div>
        {% endif %}

        {% if request.user.id != user_p.id and not is_following %}
            <a class="btn btn-primary" href="{% url "account:follow_user" user_p.id %}">Follow</a>
        {% elif request.user.id != user_p.id and is_following %}
            <a class="btn btn-primary" href="{% url "account:unfollow_user" user_p.id %}">Unfollow</a>
        {% endif %}
    </div>
{% endblock content %}